@import "normalize.scss";
@import "var.scss";

* {
  font-family:  'Helvetica Neue', 'Segoe UI', Verdana, Tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
::selection {
    background: $blue;
    color: #fff;
}
a {
  color: $blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

html {
  font-size: 14px;
  color: $base;
}
header {
  height: 3rem;
  line-height: 3rem;
  padding-left: 3rem;
  color: $blue;
  text-align: center;
  position: relative;
  h2 {
    font-weight: bold;
    font-size: 30px;
    margin: 2.5rem auto 0;
    width: 150px;
    a {
      font-family: 'Lobster', cursive !important;
    }
  }
}
footer {
  text-align: center;
  margin: 2rem;
  border-top: 1px solid #efefef;
  padding: 2rem;
  ul {
    list-style-type: none;
  }
}
.tooltip-component {
  position: absolute;
  @include arrow_box(110px, 5px);
  h4 {
    margin: 0;
    color: $blue;
    font-weight: normal;
  }
  p {
    padding: 2px;
    margin: 0;
    font-weight: bold;
    .currency {
      font-weight: normal;
    }
  }
}
@include spinner;
.container {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  .intro {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2rem;
    margin-bottom: 2.5rem;
    text-align: left !important;
    span {
      font-family: 'Lobster', cursive;
      color: $blue;
      font-weight: bold;
    }
  }
  .input-component, .output-component, .equal, .arrow {
    display: inline-block;
    position: relative;
    .currency {
      @include currency;
    }
  }
  .arrow {
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
  }
  @include arrow(-45deg, $green, down);
  @include arrow(135deg, $red, up);
  .equal {
    font-size: 1.4rem;
    margin: 0 1rem;
  }
  .input-component {
    .flag-icon {
      @include flag(30px, 30px);
      position: absolute;
      top: 10px;
      left: 10px;
      background-image: url('../imgs/bitcoin.png');
    }
    input {
      @include binput(12rem);
    }
  }
  .chart-title {
    margin: 4rem 0 2rem 0;
  }
  .output-component {
    .flag-icon {
      @include flag(30px, 30px);
    }
    > .flag-icon {
      position: absolute;
      top: 12px;
      left: 10px;
    }
    @include national;
    input {
      @include binput(17rem);
    }
    .modal-hide {
      display: none;
    }
    .modal-show {
      display: block;
    }
    .modal-component {
      position: absolute;
      top: 50px;
      left: -110px;
      @include arrow_box(20rem, 1rem);
    }
    .typeahead-component {
      input {
        @include sinput(17rem);
      }
      .typeahead-list {
        list-style-type: none;
        padding-left: .7rem;
        li {
          height: 50px;
          line-height: 50px;
          text-align: left;
          border-bottom: 1px solid #efefef;
          cursor: pointer;
          overflow: hidden;
          p {
            margin: 0;
          }
          .flag {
            vertical-align: middle;
            margin: 0 10px;
            background-image: url('../imgs/default.png');
            @include flag(30px, 30px);
          }
          .ccode {
            color: $blue;
            //font-weight: 200;
            margin-right: 5px;
          }
          &:hover, &.active {
            background: $lightblue;
          }
        }
      }
    }
    .flag-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
      }
      a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.5s ease-in;
        .text {
          display: block;
          color: $blue;
        }
        &:hover {
          background: #efefef;
          border-radius: 5px;
        }
      }
    }
  }
}
// for iphone 6 375
@media only screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 300px;
    .equal {
      display: block;
      margin: 1rem;
    }
  }
  .modal-component {
    left: 0 !important;
  }
}
// for larger phone (376 - 768) 6plus
@media only screen and (min-width: 376px) and (max-width: 767px) {
  .container {
    width: 400px;
  }
}

// for ipad 768 - 1024 ()
/* different techniques for iPad screening */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .container {
    width: 650px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .container {
    width: 650px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    width: 650px;
  }
}
