@import "normalize.scss";
@import "var.scss";

* {
  font-family: 'Helvetica Neue', 'Segoe UI', Verdana, Tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-font-smoothing: antialiased;
}
::selection {
    background: $blue;
    color: #fff;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

html {
  font-size: 14px;
  color: $base;
}
.container {
  border: 1px solid #efefef;
  border-radius: 5px;
  width: 1118px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
