$blue: #4E74FF;
$bblue: #3998fc;
$base: #697395;
$deepblue: #3389e3;
$lightblue: #f6f9fc;
$navblue: #7D97AD;
$yellow: #FFF200;
$green: #36a840;
$black: #131418;
$gray: #E1E8ED;
$red: #d02c2b;
$deepgray: #ccc;

@mixin binput($width) {
  max-width: $width;
  padding: 1rem 3.8rem 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 3px;
  text-align: right;
  border: solid 1px $gray;
}
@mixin sinput($width) {
  width: $width;
  padding: .7rem;
  font-size: 1.1rem;
  border-radius: 3px;
  text-align: left;
  border: solid 1px $gray;
}
@mixin styledBtn($width, $background, $color, $border, $hover) {
  width: $width;
  padding: .7rem;
  font-size: 1.1rem;
  border-radius: 3px;
  border: solid 1px $border;
  text-align: center;  
  background: $background;
  color: $color;
  &:hover {
    background: $hover;
  }
}
@mixin currency {
  font-size: 1.4rem;
  color: $gray;
  text-transform: uppercase;
  position: absolute;
  right: 5px;
  top: 15px;
}
@mixin flag($width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  background-size: $width $height;
  cursor: pointer;
}
@mixin national {
  .flag-CNY {
    background-image: url('../imgs/CNY.png') !important;
  }
  .flag-USD {
    background-image: url('../imgs/USD.png') !important;
  }
  .flag-AUD {
    background-image: url('../imgs/AUD.png') !important;
  }
  .flag-CAD {
    background-image: url('../imgs/CAD.png') !important;
  }
  .flag-JPY {
    background-image: url('../imgs/JPY.png') !important;
  }
  .flag-GBP {
    background-image: url('../imgs/GBP.png') !important;
  }
  .flag-CHF {
    background-image: url('../imgs/CHF.png') !important;
  }
  .flag-EUR {
    background-image: url('../imgs/EUR.png') !important;
  }
  .flag-HKD {
    background-image: url('../imgs/HKD.png') !important;
  }
  .flag-KRW {
    background-image: url('../imgs/KRW.png') !important;
  }
  .flag-KPW {
    background-image: url('../imgs/KPW.png') !important;
  }
}
@mixin arrow_box($width, $padding) {
  .arrow_box {
  	position: relative;
  	background: #fff;
  	border: 1px solid #efefef;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    width: $width;
    padding: $padding;
  }
  .arrow_box:after, .arrow_box:before {
  	bottom: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  .arrow_box:after {
  	border-color: rgba(255, 255, 255, 0);
  	border-bottom-color: #fff;
  	border-width: 5px;
  	margin-left: -5px;
  }
  .arrow_box:before {
  	border-color: rgba(239, 239, 239, 0);
  	border-bottom-color: #efefef;
  	border-width: 6px;
  	margin-left: -6px;
  }
}
@mixin arrow($deg, $color, $direction) {
  .arrow-#{$direction} {
  	border-left: 2px solid $color;
  	border-bottom: 2px solid $color;
  	-webkit-transform: rotate($deg);
  	transform: rotate($deg);
  	-webkit-animation: sdb#{$direction} 1.5s infinite;
  	animation: sdb#{$direction} 1.5s infinite;
  	box-sizing: border-box;
    @if $direction == 'up'{
        vertical-align: bottom;
    }@else{
        vertical-align: top;
    }
  }
  @-webkit-keyframes sdb#{$direction} {
  	0% {
  		-webkit-transform: rotate($deg) translate(0, 0);
  		opacity: 0;
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		-webkit-transform: rotate($deg) translate(-1.5rem, 1.5rem);
  		opacity: 0;
  	}
  }
  @keyframes sdb#{$direction} {
  	0% {
  		transform: rotate($deg) translate(0, 0);
  		opacity: 0;
  	}
  	50% {
  		opacity: 1;
  	}
  	100% {
  		transform: rotate($deg) translate(-1.5rem, 1.5rem);
  		opacity: 0;
  	}
  }
}
@mixin spinner {
  .spinner {
    width: 6rem;
    height: 3rem;
    margin: 10rem auto;
    font-size: 10px;
    //position: absolute;
    //top: .5rem;
    //left: 60%;
  }

  .spinner > div {
    background-color: $blue;
    height: 100%;
    width: .6rem;
    margin-right: 1px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
